#header_top {
    padding : 0 10px;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    font-size: 15px;
}
#header_top span{
    display: block;
}

#header_top img{
    width: 25px;
    height: 25px;
    margin: 10px;
}

#search_all{
    background: #0176FF;
    padding: 0px 25px 15px 25px;
}
#search{
    background: #FFFFFF;
    /*padding: 20px;*/
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    border-radius: 10px;
}
#search img{
    margin: 7px 0 0 0;
}
#search span{
    display: block;
}
#search span a{
    color: #505050;
}

.classList{
    background: #ffffff;
}

.classList ul{
    width:99%;
    height:100%;
}

.classList li{
    width:25%;
    height: 40px;
    margin: 15px 0;
    float: left;
    text-align: center;
}

.classList ul li img{
    width: 30px;
    height: 30px;
}

.clearUI{
}
.clearUI:after{
    content: '';
    display: block;
    clear: both;
}

#nearBusiness{
    border-left: 5px solid #0176FF;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    color: gray;
}

.sortItem{
    border-bottom: 1px solid #bababa;
    background: white;
    color: gray;
}

.sortItem div{
    text-align: center;
    padding:10px 20px;
}

.sortItem .item-text{
    color: gray;
}

.sortItem .item-img{
    width: 10px;
    height: 10px;
}
/*排序规则*/
.sortRule{
    background: white;
    border-bottom: 1px solid #bababa;
    padding: 5px 0;
}

.sortRule ul li{
    display: table-cell;
    text-align: center;
    width:1%;
}

.sortItem2{

}

.sortRule ul li.active{
    color:#0176ff;
}

.sortRule ul li em img{
    padding: 0px 4px;
    width: 8px;
    height: 6px;
}

.as-block{
    display: block;
}

.businessList{
    background: white;
    padding: 15px 0 0 0;
}

.businessList .img-left{
    padding: 0 20px 10px 10px;;
    height: 70px;
    width: 70px;
}

.businessList .info-img{
    height: 15px;
    width: 15px;
    margin: 2px 0 0 0;
}

.businessList .info-text{
    height: 20px;
    line-height: 20px;
    position:absolute;
    padding: 0 0 0 15px;
}

.bottom-navi{
    background: white;
    position: fixed;
    bottom: 0;
    width:100%;
    border-top: 1px solid #dadada;
}

.bottom-navi .navi-item{
    display: block;
    text-align: center;
    padding: 5px 35px;
}

.bottom-navi .navi-item-img{
    height: 25px;
    width: auto;
}

.bottom-navi span{
    display: block;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}