#header_top {
    padding : 0 10px;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    font-size: 15px;
}
#header_top span{
    display: block;
}

#header_top img{
    width: 25px;
    height: 25px;
    margin: 10px;
}

#search_all{
    background: #0176FF;
    padding: 0px 25px 10px 25px;
}
#search{
    background: #FFFFFF;
    /*padding: 20px;*/
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    border-radius: 10px;
}
#search img{
    margin: 10px 0 0 0;
}
#search span{
    display: block;
}
#search span a{
    color: #505050;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}