.home_my{
    font-size: 4em;;
    color: #EFEFF4;
    float:right;
}

.location_head{
    background: #0176ff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.location_head div{
    margin: 25px;
    padding: 0 30px;
}
.location_head div textarea{
    background: url(../images/coomon/dw.png) no-repeat left;
    color: #fff;
    background-size: 7%;
    width: 81%;
    font-size: 39px;
    height: 79px;
    line-height: 79px;
    padding-left: 70px;
    margin: 10px 0;
}

.location_head div img{
    position: relative;
    width: 9%;
    padding: 10px 0;
}

.search{
    width: 100%;
    height: 85px;
    border-radius: 15px;
    font-size: 39px;
    background: #fff;
}