
.head {padding: 20px 10px;background: url(../images/coomon/address_border.png) repeat-x  center bottom #fff; background-size: 10%;z-index: 99;border-top: 1px solid #e4e4e4;    }
.head span {display: block; width: 18px;height: 20px;}
.head span:nth-child(3){width: 10px;height: 18px; text-align: right;}
.head small{display: block;font-size: 15px; margin-left: 20px;color: #000;}
.head img{width: 100%;height: 100%;display: inline-block;}
.head small:active {background: rgba(0,0,0,0.1);} 

.taeout_merchant {padding-bottom: 60px;}
.taeout_merchant .merchant_l .title {padding: 10px 10px; background: #fff;}
.taeout_merchant .merchant_l .title span{display: block; width: 40px;height: 40px;}
.taeout_merchant .merchant_l .title h2 {line-height: 40px; font-size: 18px; margin-left: 20px;font-weight: bold;}
.taeout_merchant .merchant_l .title span img {width: 100%;height: 100%; }
.taeout_merchant .merchant_l .indent {border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;margin-bottom: 5px; background: #fff;}
.taeout_merchant .merchant_l .indent p {height: 40px;line-height: 40px;padding: 0 10px;}
.taeout_merchant .merchant_l .indent p span { display: block;}
.taeout_merchant .merchant_l .indent p span:nth-child(1){white-space: nowrap;}
.taeout_merchant .merchant_l .indent p span:nth-child(3){margin-left: 20px; color: #000}
.taeout_merchant .merchant_l .rests{padding: 10px;border-bottom:1px solid #e4e4e4; }
.taeout_merchant .merchant_l .rests span {color: #999999;}
.taeout_merchant .merchant_l .rests small {float: right; font-size: 14px;}

.taeout_merchant .merchant_r {background: url(../images/coomon/address_jt.png) no-repeat 96% center  #fff;background-size: 2.5%; padding-left: 10px; height: 40px; line-height: 40px; margin-top:2px; font-size: 14px;	}
.taeout_merchant .merchant_r small {font-size: 14px;}
.taeout_merchant .merchant_r span {float: right;  color: #9f9f9f; width:80%; white-space: nowrap; text-overflow:ellipsis; }
.taeout_merchant .merchant_r span input {border:none;width:93%;height: 38px;}

.footer {height: 50px;line-height: 50px; z-index: 99;background: #353535;padding-left: 20px;position: relative;position: fixed;bottom: 0;left: 0;right: 0 }
.footer .shopping {color: #fff;font-size: 16px;}
.footer .total p {color: #fff;font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;font-size: 12px;margin-left: 20px;}
.footer button {background: #0176ff;width:100px; height: 100%;border: none;color: #fff;font-size: 16px;font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;border-radius: 0}
.footer button:active{background: rgba(0,0,0,0.1); }
/*mui*/
.head~.mui-content{padding-top: 95px; padding-bottom: 80px;}
