.register_wrap .register_box {margin-top: 10px;}
.register_wrap .register_box label {font-size: 15px;font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;}
.register_wrap .register_box input {font-size: 15px;font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;}
.register_wrap .register_box .forget {text-align: right; color: #fd6776;font-size: 15px; padding:10px 10px 0 0;}
.register_wrap .register_box button {width: 85%; height: 40px;margin-top: 20px;}

.mui-input-group .mui-input-row:after {background-color: #e4e4e4}
.mui-input-group:after {background: none}
.mui-input-group:before{background: none}

.mui-input-row label{width: 25%;}
.mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea{width: 75%;}