.list_tab {background: #fff; position: fixed;top: 0;left: 0;right: 0; z-index: 99}

.order_box {padding: 10px 0px 10px 10px;background: #fff; margin-bottom: 10px;box-shadow: 0px 1px 2px #f2f1f1}
.order_box .imgl {width: 50px;height: 50px;border-radius: 50%; border: 2px solid #e0e0e0; }
.order_box .imgl img {width: 100%;height:100%;border-radius: 50%;}
.order_box .intror {margin-left: 10px; width: 80%;}
.order_box .intror h5 {font-size: 16px;font-weight: bold;color: #000;}
.order_box .intror h5 time {display: block; font-size: 12px; color: #cbcbcb; font-weight: normal; margin-top: 10px;}
.order_box .intror p{width: 8px;height: 15px; margin-top: 2px;}
.order_box .intror p img {width: 100%;height: 100%;}
.order_box .intror .inta {border-bottom: 1px solid #e4e4e4;padding: 5px 10px 5px 0 ; }
.order_box .intror .inta span {display: block; margin-right: 10px;font-size: 14px;}
.order_box .intror .intb {padding: 5px 10px 5px 0 ;}
.order_box .intror .intb span {font-size: 14px; color: #666666}
.order_box .intror .intb small {float: right; font-size: 16px;color: #000;font-weight: bold;}

.order_box:active {background: rgba(0,0,0,0.1);}





.mui-segmented-control .mui-control-item {line-height: 0.9rem;width: 100%;font-size: 14px; }
.mui-segmented-control .mui-control-item em {color: #666666}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {border: none;background-color: #fff;}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active em{border-bottom: 3px solid #0176ff; color: #4098ff;padding-bottom: 5px; z-index: 99;}
.mui-segmented-control.mui-segmented-control-inverted.mui-segmented-control-vertical .mui-control-item, .mui-segmented-control.mui-segmented-control-inverted.mui-segmented-control-vertical .mui-control-item.mui-active{border-bottom: 1px solid #f2f1f1; color: #000;}
.mui-pull-bottom-tips { text-align: center;background-color: #efeff4; font-size: 15px;line-height: 40px;color: #777;}
.mui-bar {box-shadow: none; border-bottom: 1px solid #e4e4e4;}
.list_tab~.mui-content{padding-top: 45px;}/*中部离头部距离*/
.ly_bottom {border-bottom: none;border-top:1px solid #e4e4e4}
.mui-table-view {background: #f2f1f1;}